<section id="sidebar">
	<ul class="side-nav fixed">
		<li class="cashier-desk" ui-sref=".cashier">
			<a href="javascript:void(0)" class="waves-effect waves-teal"><i class="material-icons">monetization_on</i>收银台</a>
		</li>
		<li class="vip" ui-sref=".vip">
			<a href="javascript:void(0)" class="waves-effect waves-teal"><i class="material-icons">folder_shared</i>开通会员</a>
		</li>
		<li class="vip-list" ui-sref=".member">
			<a href="javascript:void(0)" class="waves-effect waves-teal"><i class="material-icons">view_list</i>会员列表</a>
		</li>
		<li class="gift" ui-sref=".gift">
			<a href="javascript:void(0)" class="waves-effect waves-teal"><i class="material-icons">card_giftcard</i>礼品管理</a>
		</li>
		<li class="cashier-desk" ui-sref=".shopInfo">
			<a href="javascript:void(0)" class="waves-effect waves-teal"><i class="material-icons">business</i>店铺信息管理</a>
		</li>
	</ul>
</section>