<div id="choose-map-modal" class="modal">
	<div class="modal-content">
		<div id="business-address-map"></div>
		<div class="search-area">
			<input id="business-address-map-input" type="text" ng-model="searchCon">
			<i class="material-icons" ng-click="search()">location_searching</i>
			<div class="result-panel">
				
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="javascript:;" class=" modal-action modal-close waves-effect waves-green btn-flat">取消</a>
		<a href="javascript:;" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="confirmMap()">确认</a>
	</div>
</div>