<account-title></account-title>

<div class="row">
	<div class="login-body col l10 m10 offset-l1 offset-m1">
		<div class="row">
			<div class="head col l10 m10 offset-l1 offset-m1">
				<h2>商家登录</h2>
			</div>
		</div>
		<div class="row">
			<form name="loginForm" class="col l6 m6 offset-l1 offset-m1">
				<login-account-input></login-account-input>
				<login-pass-input></login-pass-input>
				<div class="row">
					<p class="col s5 m5 l5 offset-s1 offset-l1 offset-m1">
						<input name="remember" type="checkbox" id="_remember" ng-model="formInfo.remember">
						<label for="_remember">记住我</label>
					</p>
				</div>
				<div class="row">
					<a href="javascript:;" class="col s3 m3 offset-s1 offset-m1 btn waves-effect waves-light" ng-click="login()">登录</a>
				</div>
			</form>
			<div class="logo-area col l5 m5">
				<div class="row">
					<h5>开店就在你手中</h5>
					<div class="d-bar">
						<img src="./images/d-bar.png" alt="会管客户端二维码">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>